html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.board {
  width: 100%;
  height: 100%;
  max-width: 100vh;
  max-height: 100vw;
  margin: auto;
  display: grid;
  grid-gap: 4px;
  background-color: azure;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  font-size: 3em;
  font-weight: 900;
  color: chocolate;
}

.cell:hover {
  color: crimson;
  outline: .05em solid crimson;
}

.cell.empty {
  background-color: white;
}
