html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: 100%;
  margin: auto;
}

.control-panel {
  height: 4rem;
  line-height: 4rem;
  vertical-align: middle;
  background-color: antiquewhite;
  text-align: center;
}

.board-size-select {
  display: inline-block;
  font-size: 1.5em;
  padding: 0 .5em;
  height: 3rem;
  vertical-align: middle;
}

.button {
  display: inline-block;
  font-size: 1.5em;
  height: 3rem;
  vertical-align: middle;
}

.board {
  padding: .5rem;
  height: calc(100% - 5rem);
  min-width: 300px;
  min-height: 300px;
  max-width: calc(100vh - 5rem);
  margin: auto;
  display: grid;
  grid-gap: .25em;
  background-color: azure;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  font-size: 3em;
  font-weight: 900;
  color: chocolate;
}

.cell:hover {
  color: crimson;
  outline: .05em solid crimson;
}

.cell.empty {
  background-color: white;
}
